.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    gap: 40px;
}

.sectionContenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;
}

.sectionContenido div {
    width: 325px;
}

.sectionContenido h2 {
    line-height: 1;
    letter-spacing: 1.5px;
    color: var(--orange-color-2);
    font-size: 42px;
    padding-bottom: 10px;
}

.sectionContenido p {
    color: var(--dark-color);
    font-size: 16px;
}

.sectionContainer img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .sectionContainer {
        padding-top: 40px;
        gap: 40px;
    }

    .sectionContenido {
        flex-direction: row;
        align-items: start;
        gap: 40px;
    }

    .sectionContenido div {
        width: 325px;
    }

    .sectionContenido h2 {
        font-size: 42px;
    }

    .sectionContenido p {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    .sectionContainer {
        padding-top: 60px;
        gap: 60px;
    }

    .sectionContenido {
        gap: 40px;
    }

    .sectionContenido div {
        width: 500px;
    }

    .sectionContenido h2 {
        font-size: 52px;
    }

    .sectionContenido p {
        font-size: 18px;
    }
}

@media (min-width: 1700px) {
    .sectionContainer {
        padding-top: 80px;
        gap: 80px;
    }

    .sectionContenido {
        gap: 250px;
    }

    .sectionContenido div {
        width: 600px;
    }

    .sectionContenido h2 {
        font-size: 72px;
        padding-bottom: 20px;
    }

    .sectionContenido p {
        font-size: 22px;
    }
}
