@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.sectionContainer {
    background-color: white;
    overflow: hidden;
    padding-top: 40px;
}

.slider {
    width: 100%;
    overflow: hidden;
}

.track {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    animation: scroll 20s linear infinite;
    gap: 50px;
}

.comentario img {
    width: 500px;
}

@media (min-width: 768px) {
    .track {
        animation: scroll 30s linear infinite;
    }
}

@media (min-width: 1200px) {
    .track {
        animation: scroll 50s linear infinite;
    }

    .comentario img {
        width: 600px;
    }
}

@media (min-width: 1400px) {
    .track {
        animation: scroll 80s linear infinite;
    }

    .comentario img {
        width: 600px;
    }
}
