@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--orange-color-2);
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 60px;
    gap: 20px;
}

.sectionContainer header h1 {
    color: var(--white-color);
    letter-spacing: 1.5px;
    font-size: 34px;
}

.slider {
    width: 100%;
    overflow: hidden;
}

.track {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    animation: scroll 20s linear infinite;
    gap: 50px;
}

.comentario {
    background-color: white;
    border-radius: 10px;
    padding-top: 10px;
    height: 150px;
}

.comentario img {
    width: 500px;
}

@media (min-width: 768px) {
    .sectionContainer header h1 {
        font-size: 42px;
    }

    .track {
        animation: scroll 30s linear infinite;
    }
}

@media (min-width: 1200px) {
    .sectionContainer header h1 {
        font-size: 52px;
    }

    .track {
        animation: scroll 50s linear infinite;
    }

    .comentario {
        height: 180px;
    }

    .comentario img {
        width: 600px;
    }
}

@media (min-width: 1400px) {
    .sectionContainer {
        padding-top: 60px;
        padding-bottom: 80px;
        gap: 40px;
    }

    .sectionContainer header h1 {
        font-size: 82px;
    }

    .track {
        animation: scroll 80s linear infinite;
    }
}
