.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-color);
    padding: 20px 25px;
    padding-bottom: 30px;
    gap: 20px;
}

.sectionContainer header h2 {
    color: var(--white-color);
    letter-spacing: 2px;
    font-size: 34px;
}

.serviciosContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px 0px;
    width: 325px;
}

.serviciosContainer a {
    text-decoration: none;
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-color);
    box-shadow: -6px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    gap: 30px;
    height: 310px;
    width: 325px;
    padding: 0px 25px;
    padding-top: 20px;
}

.servicioTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.servicioTexto h3 {
    color: var(--orange-color-2);
    font-size: 20px;
}

.servicioTexto p {
    color: var(--white-color);
    font-size: 16px;
}

.servicio img {
    height: 160px;
}

@media (min-width: 768px) {
    .sectionContainer {
        padding: 40px 35px;
        padding-bottom: 50px;
        gap: 30px;
    }

    .sectionContainer header h2 {
        font-size: 42px;
    }

    .serviciosContainer {
        gap: 30px 30px;
        width: 698px;
    }

    .servicio {
        gap: 10px;
        width: 325px;
        height: 310px;
        padding: 0px 25px;
        padding-top: 20px;
    }

    .servicio h3 {
        font-size: 20px;
    }

    .servicio p {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    .sectionContainer {
        padding: 40px 35px;
        padding-bottom: 50px;
        gap: 30px;
    }

    .sectionContainer header h2 {
        font-size: 52px;
    }

    .serviciosContainer {
        gap: 30px 30px;
        width: 1150px;
    }

    .servicio {
        gap: 10px;
        width: 350px;
        padding: 0px 25px;
        padding-top: 20px;
        transition:
            transform 0.3s ease,
            filter 0.3s ease;
    }

    .servicio:hover {
        transform: scale(0.95);
        filter: drop-shadow(0px 0px 10px var(--orange-color-2));
    }

    .servicio:hover .servicioTexto h3 {
        transform: translateY(0);
    }

    .servicio:hover .servicioTexto p {
        opacity: 1;
    }

    .servicioTexto h3 {
        font-size: 22px;
        transform: translateY(40px);
        transition: 0.9s ease;
    }

    .servicioTexto p {
        font-size: 18px;
        opacity: 0;
        transition: 0.3s ease 0.1s;
    }
}

@media (min-width: 1400px) {
    .sectionContainer {
        padding: 40px 35px;
        padding-bottom: 60px;
        gap: 30px;
    }

    .sectionContainer header h2 {
        font-size: 82px;
    }

    .serviciosContainer {
        gap: 50px 50px;
        width: 1300px;
    }

    .servicio {
        gap: 10px;
        width: 400px;
        height: 350px;
        padding: 0px 25px;
        padding-top: 20px;
        transition: transform 0.5s ease;
    }

    .servicio h3 {
        font-size: 24px;
    }

    .servicio p {
        font-size: 20px;
    }

    .servicio img {
        height: 200px;
    }
}

@media (min-width: 1700px) {
    .sectionContainer {
        padding: 40px 35px;
        padding-bottom: 60px;
        gap: 30px;
    }

    .sectionContainer header h2 {
        font-size: 82px;
    }

    .serviciosContainer {
        gap: 50px 50px;
        width: 1600px;
    }

    .servicio {
        gap: 10px;
        width: 500px;
        height: 400px;
        padding: 0px 25px;
        padding-top: 20px;
        transition: transform 0.5s ease;
    }

    .servicio h3 {
        font-size: 24px;
    }

    .servicio p {
        font-size: 20px;
    }

    .servicio img {
        height: 250px;
    }
}
