.sectionContainer {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, var(--orange-color) 0%, var(--dark-color) 100%);
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 60px;
}

.sectionTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 325px;
}

.sectionTitle h2 {
    letter-spacing: 1.5px;
    color: var(--white-color);
    font-size: 34px;
}

.sectionTitle p {
    color: var(--white-color);
    font-size: 16px;
}

.sectionContenido {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange-color-2);
    border-radius: 10px;
    padding: 25px 20px;
}

.sectionForm {
    width: 265px;
    margin: 0px 0;
}

@media (min-width: 768px) {
    .sectionContainer {
        gap: 20px;
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .sectionTitle {
        width: 100%;
    }

    .sectionTitle h2 {
        font-size: 42px;
    }

    .sectionTitle p {
        font-size: 16px;
    }

    .sectionContenido {
        flex-direction: row;
        align-items: start;
    }

    .sectionContenido img {
        width: 300px;
        margin-left: -30px;
        margin-right: -40px;
    }
}

@media (min-width: 1200px) {
    .sectionContainer {
        gap: 20px;
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .sectionTitle h2 {
        font-size: 52px;
    }

    .sectionTitle p {
        font-size: 18px;
    }

    .sectionForm {
        width: 440px;
    }

    .sectionContenido img {
        width: 300px;
    }
}

@media (min-width: 1400px) {
    .sectionContainer {
        gap: 40px;
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .sectionTitle h2 {
        font-size: 82px;
    }

    .sectionTitle p {
        font-size: 20px;
    }

    .sectionForm {
        width: 540px;
    }

    .sectionContenido img {
        width: 350px;
    }
}
