.form {
    position: relative;
    z-index: 1;
    color: var(--dark-color);
    filter: drop-shadow(0px 0px 5px var(--orange-color-2));
    padding-bottom: 60px;
}

.inputsContainer {
    background-color: var(--white-color);
    border-radius: 20px;
    padding: 20px 30px;
}

.campoPrecalificarForm {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.campoPrecalificarForm select,
.campoPrecalificarForm input {
    filter: drop-shadow(0px 0px 5px var(--orange-color-2));
    padding-left: 10px;
    padding-right: 10px;
}

.campoPrecalificarForm label {
    margin-bottom: 10px;
    margin-left: 2px;
    font-size: 14px;
}

.formControl {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: 'Alliance No.2', sans-serif;
    border-radius: 10px;
    padding: 4px 0;
    margin-bottom: 15px;
    background-color: var(--white-color);
    color: var(--dark-color);
    border: none;
    font-size: 16px;
    resize: none;
    padding-left: 50px;
}

.formControl:focus {
    outline: none;
}

.labelError {
    color: red;
}

.contentEnvio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.mensajeErrorGeneral {
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 5px;
}

.mensajeErrorGeneral p {
    position: absolute;
    z-index: 1;
    color: var(--dark-color);
    margin-top: 5px;
}

@media (min-width: 1400px) {
    .campoPrecalificarForm label {
        font-size: 16px;
    }

    .formControl {
        padding: 5px 0;
        font-size: 18px;
        height: 38px;
    }
}
