.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, transparent 0%, var(--dark-color) 500%);
    padding: 60px 0px;
}

.sectionContenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.sectionTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.sectionTexto h3 {
    color: var(--dark-color);
    font-size: 30px;
}

.sectionTexto p {
    color: var(--orange-color);
    font-size: 50px;
}

@media (min-width: 1200px) {
    .sectionContainer {
        padding: 100px 0px;
    }

    .sectionContenido {
        flex-direction: row;
        gap: 100px;
    }

    .sectionTexto h3 {
        font-size: 34px;
    }

    .sectionTexto p {
        font-size: 70px;
    }
}

@media (min-width: 1700px) {
    .sectionContainer {
        padding: 120px 0px;
    }

    .sectionContenido {
        flex-direction: row;
        gap: 140px;
    }

    .sectionTexto h3 {
        font-size: 42px;
    }

    .sectionTexto p {
        font-size: 90px;
    }
}
