.sectionContainer {
    background-color: var(--dark-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    gap: 40px;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 325px;
    gap: 10px;
}

.data img {
    width: 100px;
}

.dataTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dataTexto h2 {
    color: var(--white-color);
    letter-spacing: 1.5px;
    font-size: 24px;
}

.dataTexto p {
    color: var(--white-color);
    font-size: 16px;
}

@media (min-width: 1200px) {
    .sectionContainer {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: center;
        padding: 60px 0;
        gap: 40px;
    }

    .data {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 325px;
        gap: 10px;
    }

    .data img {
        height: 100px;
        width: auto;
    }

    .dataTexto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .dataTexto h2 {
        color: var(--white-color);
        letter-spacing: 1.5px;
        font-size: 24px;
    }

    .dataTexto p {
        color: var(--white-color);
        font-size: 16px;
    }
}

@media (min-width: 1400px) {
    .sectionContainer {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: center;
        padding: 80px 0;
        gap: 40px;
    }

    .data {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 325px;
        gap: 10px;
    }

    .data img {
        height: 100px;
        width: auto;
    }

    .dataTexto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .dataTexto h2 {
        color: var(--white-color);
        letter-spacing: 1.5px;
        font-size: 32px;
    }

    .dataTexto p {
        color: var(--white-color);
        font-size: 18px;
    }
}
