@keyframes moveBackground {
    0% {
        background-position: 0% bottom;
    }
    50% {
        background-position: 100% bottom;
    }
    100% {
        background-position: 0% bottom;
    }
}

.sectionContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-color);
}

.sectionContenido {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, var(--orange-color-2) 0%, transparent 100%);
    min-height: calc(100svh - 69px);
    width: 100%;
}

.sectionContenido img {
    z-index: 1;
    width: 300px;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 0% bottom;
    background-repeat: no-repeat;
    pointer-events: none;
    will-change: background-position;
    opacity: 0.3;
}

.bg1 {
    background-image: url('/src/assets/images/fondo-np-section-1-2.png');
    animation: moveBackground 130s linear infinite;
}

@media (min-width: 768px) {
    .sectionContenido {
        min-height: calc(100svh - 74px);
    }

    .bg1 {
        background-image: url('/src/assets/images/fondo-np-section-1-1.png');
    }
}

@media (min-width: 1400px) {
    .sectionContenido {
        min-height: calc(100svh - 98px);
    }
}
