.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sectionContenido {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    background: linear-gradient(to left, var(--orange-color-2) 0%, transparent 100%);
    min-height: calc(100svh - 69px);
    width: 100%;
    padding: 20px 25px;
    padding-bottom: 30px;
}

.sectionContainer h1 {
    position: relative;
    z-index: 1;
    line-height: 1;
    letter-spacing: 1.5px;
    text-align: end;
    color: var(--white-color);
    font-size: 34px;
}

.contenido {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    text-align: end;
    gap: 20px;
    width: 260px;
}

.contenido p {
    letter-spacing: 1px;
    color: var(--white-color);
    font-size: 16px;
}

.videoBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
    z-index: 1;
}

@media (min-width: 576px) {
    .sectionContenido {
        padding: 20px 35px;
        padding-bottom: 30px;
    }
}

@media (min-width: 768px) {
    .sectionContenido {
        min-height: calc(100svh - 74px);
        padding: 40px 35px;
        padding-bottom: 50px;
    }

    .sectionContainer h1 {
        font-size: 42px;
    }

    .contenido {
        gap: 30px;
        width: 285px;
    }

    .contenido p {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    .sectionContenido {
        padding: 40px 45px;
        padding-bottom: 50px;
    }
}

@media (min-width: 1200px) {
    .sectionContenido {
        padding: 40px 95px;
        padding-bottom: 50px;
    }

    .sectionContainer h1 {
        font-size: 52px;
    }

    .contenido {
        gap: 30px;
        width: 285px;
    }

    .contenido p {
        font-size: 18px;
    }
}

@media (min-width: 1400px) {
    .sectionContenido {
        min-height: calc(100svh - 98px);
        padding: 40px 195px;
        padding-bottom: 60px;
    }

    .sectionContainer h1 {
        font-size: 82px;
    }

    .contenido {
        gap: 30px;
        width: 315px;
    }

    .contenido p {
        font-size: 20px;
    }
}
