.sectionContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/images/fondo-np.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sectionContenido {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to top, var(--orange-color-2) 0%, transparent 100%);
    min-height: calc(100svh - 69px);
    width: 100%;
    padding: 40px 0;
    gap: 20px;
}

.sectionContenido img {
    z-index: 1;
    width: 200px;
    filter: drop-shadow(0px 0px 10px var(--orange-color-2));
}

.sectionTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white-color);
    background-color: var(--shadow-color);
    font-size: 16px;
    border-radius: 10px;
    width: 340px;
    padding: 20px;
    gap: 20px;
}

.videoBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
    z-index: 1;
}

@media (min-width: 768px) {
    .sectionContenido {
        min-height: calc(100svh - 74px);
    }

    .sectionTexto {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        width: 550px;
        padding: 20px;
        gap: 20px;
    }
}

@media (min-width: 1200px) {
    .sectionContenido {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        background: linear-gradient(to top, var(--orange-color-2) 0%, transparent 100%);
        min-height: calc(100svh - 69px);
        width: 100%;
        padding: 40px 100px;
        gap: 60px;
    }

    .sectionContenido img {
        z-index: 1;
        width: 320px;
    }

    .sectionTexto {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        width: 320px;
        padding: 20px;
        gap: 20px;
    }
}

@media (min-width: 1400px) {
    .sectionContenido {
        min-height: calc(100svh - 98px);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        background: linear-gradient(to top, var(--orange-color-2) 0%, transparent 100%);
        min-height: calc(100svh - 69px);
        width: 100%;
        padding: 40px 200px;
        gap: 60px;
    }

    .sectionContenido img {
        z-index: 1;
        width: 500px;
    }

    .sectionTexto {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        width: 500px;
        padding: 40px 20px;
        gap: 20px;
    }
}
