.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: linear-gradient(to top, transparent 0%, var(--dark-color) 500%);
    padding: 40px 0;
    gap: 40px;
}

.sectionContainer header {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 325px;
    gap: 10px;
}

.sectionContainer header h1 {
    letter-spacing: 1.5px;
    color: var(--orange-color-2);
    font-size: 42px;
}

.sectionContainer header h2 {
    color: var(--dark-color);
    font-size: 24px;
}

.sectionContainer header p {
    color: var(--dark-color);
    font-size: 16px;
}

.sectionForm {
    width: 325px;
    margin: 0px 0;
}

@media (min-width: 1200px) {
    .sectionContainer header {
        width: 509px;
        gap: 10px;
    }

    .sectionContainer header h1 {
        font-size: 52px;
    }

    .sectionForm {
        width: 500px;
    }
}

@media (min-width: 1400px) {
    .sectionContainer header {
        width: 606px;
        gap: 10px;
    }

    .sectionContainer header h1 {
        font-size: 82px;
    }

    .sectionContainer header h2 {
        font-size: 28px;
    }

    .sectionContainer header p {
        font-size: 18px;
    }

    .sectionForm {
        width: 600px;
    }
}
