.sectionContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-color);
}

.sectionContenido {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, var(--orange-color-2) 0%, transparent 100%);
    min-height: calc(100svh - 69px);
    width: 100%;
}

.sectionContenido img {
    z-index: 1;
    width: 300px;
}

.videoBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
    z-index: 1;
}

@media (min-width: 768px) {
    .sectionContenido {
        min-height: calc(100svh - 74px);
    }
}

@media (min-width: 1400px) {
    .sectionContenido {
        min-height: calc(100svh - 98px);
    }
}
