.sectionContainer {
    overflow: hidden;
    background: linear-gradient(to bottom, transparent 0%, var(--dark-color) 500%);
}

.fondo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, transparent 0%, var(--orange-color-2) 400%);
    gap: 20px;
    padding: 20px 25px;
}

.sectionTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 325px;
}

.sectionTitle h2 {
    letter-spacing: 1.5px;
    color: var(--orange-color-2);
    font-size: 34px;
}

.sectionTitle p {
    color: var(--dark-color);
    font-size: 16px;
}

.sectionContenido {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionForm {
    width: 325px;
    margin: 0px 0;
}

@media (min-width: 768px) {
    .fondo {
        gap: 20px;
        padding: 20px 25px;
        padding-bottom: 0px;
    }

    .sectionTitle {
        width: 100%;
    }

    .sectionTitle h2 {
        font-size: 42px;
    }

    .sectionTitle p {
        font-size: 16px;
    }

    .sectionContenido {
        flex-direction: row-reverse;
        align-items: end;
        gap: 20px;
    }

    .sectionForm {
        width: 325px;
    }

    .sectionContenido img {
        filter: drop-shadow(0px 0px 100px var(--orange-color-2));
        width: 335px;
    }
}

@media (min-width: 1200px) {
    .fondo {
        gap: 40px;
        padding: 40px 25px;
        padding-bottom: 0px;
    }

    .sectionTitle h2 {
        font-size: 52px;
    }

    .sectionTitle p {
        font-size: 18px;
    }

    .sectionContenido {
        gap: 60px;
    }

    .sectionForm {
        width: 500px;
    }

    .sectionContenido img {
        width: 550px;
    }
}

@media (min-width: 1400px) {
    .fondo {
        gap: 50px;
        padding: 40px 25px;
        padding-bottom: 0px;
    }

    .sectionTitle h2 {
        font-size: 82px;
    }

    .sectionTitle p {
        font-size: 20px;
    }

    .sectionContenido {
        gap: 50px;
    }

    .sectionForm {
        width: 600px;
    }

    .sectionContenido img {
        width: 600px;
    }
}
