.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
    gap: 20px;
}

.sectionContainer header h2 {
    line-height: 1;
    letter-spacing: 1.5px;
    color: var(--orange-color-2);
    font-size: 42px;
}

.sectionContainer p {
    color: var(--dark-color);
    width: 325px;
    font-size: 16px;
}

.sectionContainer img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .sectionContainer {
        padding-top: 60px;
        gap: 20px;
    }

    .sectionContainer header h2 {
        font-size: 62px;
    }

    .sectionContainer p {
        width: 600px;
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    .sectionContainer {
        padding-top: 60px;
        gap: 20px;
    }

    .sectionContainer header h2 {
        font-size: 69px;
    }

    .sectionContainer p {
        width: 750px;
        font-size: 20px;
        margin-bottom: 20px;
    }
}

@media (min-width: 1700px) {
    .sectionContainer {
        padding-top: 80px;
        gap: 20px;
    }

    .sectionContainer header h2 {
        font-size: 82px;
    }

    .sectionContainer p {
        width: 950px;
        font-size: 26px;
        margin-bottom: 40px;
    }
}
