.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.sectionContainer header h1 {
    color: var(--orange-color);
    letter-spacing: 1.5px;
    font-size: 52px;
}

.sectionContenido {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.sectionContenido img {
    width: 325px;
}

.contenidoTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--dark-color);
    width: 340px;
    gap: 10px;
}

.contenidoTexto {
    font-size: 16px;
}

.sectionContainer h2 {
    color: var(--orange-color);
    letter-spacing: 1.5px;
    padding-top: 40px;
    font-size: 32px;
}

@media (min-width: 768px) {
    .sectionContainer {
        gap: 20px;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .sectionContainer header h1 {
        font-size: 52px;
    }

    .sectionContenido {
        flex-direction: row;
        gap: 20px;
    }

    .sectionContenido img {
        width: 325px;
    }

    .contenidoTexto {
        text-align: start;
        width: 250px;
        gap: 10px;
    }

    .contenidoTexto {
        font-size: 16px;
    }

    .sectionContainer h2 {
        padding-top: 40px;
        font-size: 42px;
    }
}

@media (min-width: 1200px) {
    .sectionContainer {
        gap: 40px;
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .sectionContainer header h1 {
        font-size: 72px;
    }

    .sectionContenido {
        gap: 40px;
    }

    .sectionContenido img {
        width: 325px;
    }

    .contenidoTexto {
        width: 300px;
        gap: 20px;
    }

    .contenidoTexto {
        font-size: 20px;
    }

    .sectionContainer h2 {
        padding-top: 60px;
        font-size: 52px;
    }
}

@media (min-width: 1400px) {
    .sectionContainer {
        gap: 60px;
        padding-top: 60px;
        padding-bottom: 40px;
    }

    .sectionContainer header h1 {
        font-size: 82px;
    }

    .sectionContenido {
        gap: 40px;
    }

    .sectionContenido img {
        width: 400px;
    }

    .contenidoTexto {
        width: 350px;
        gap: 20px;
    }

    .contenidoTexto {
        font-size: 26px;
    }

    .sectionContainer h2 {
        padding-top: 80px;
        font-size: 72px;
    }
}
