.sectionContainer {
    background-image: url('../../../../assets/images/global/patron-prisma-blanco-1.png');
    background-position: center;
    background-repeat: repeat;
}

.sectionContenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--dark-color-3);
    width: 100%;
    height: 100%;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.sectionContenido2 {
    background-color: var(--white-color-3);
}

.sectionContenido header h2 {
    color: var(--orange-color);
    letter-spacing: 1.5px;
    font-size: 32px;
}

.contenido {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.contenidoTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    gap: 20px;
}

.contenidoTexto p {
    width: 325px;
    font-size: 16px;
}

.sectionContenido2 p {
    color: var(--dark-color);
}

.contenido img {
    border-radius: 20px;
    width: 325px;
}

@media (min-width: 768px) {
    .sectionContenido {
        gap: 20px;
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .sectionContenido header h2 {
        font-size: 42px;
    }

    .contenido {
        flex-direction: row;
        gap: 20px;
    }

    .contenidoTexto {
        align-items: start;
        text-align: start;
        gap: 20px;
    }

    .contenidoTexto p {
        width: 325px;
        font-size: 16px;
    }

    .contenido img {
        width: 325px;
    }
}

@media (min-width: 1200px) {
    .sectionContenido {
        gap: 40px;
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .sectionContenido header h2 {
        font-size: 52px;
    }

    .contenido {
        gap: 20px;
    }

    .contenidoTexto {
        gap: 40px;
    }

    .contenidoTexto p {
        width: 325px;
        font-size: 20px;
    }

    .contenido img {
        width: 300px;
    }
}

@media (min-width: 1400px) {
    .sectionContenido {
        gap: 60px;
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .sectionContenido header h2 {
        font-size: 72px;
    }

    .contenido {
        gap: 40px;
    }

    .contenidoTexto {
        gap: 60px;
    }

    .contenidoTexto p {
        width: 400px;
        font-size: 26px;
    }

    .contenido img {
        width: 400px;
    }
}
