.sectionContainer {
    background-image: url('../../../../assets/images/servicios/venta/fondo-venta.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sectionContenido {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, var(--orange-color-2) 0%, transparent 100%);
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.serviciosContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 325px;
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    filter: drop-shadow(0px 0px 10px var(--dark-color-3));
    border-radius: 20px;
    width: 325px;
    padding: 10px 5px;
    gap: 10px;
}

.servicio img {
    width: 80px;
}

.serviciosTextos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
    gap: 10px;
}

.serviciosTextos h3 {
    color: var(--orange-color);
    font-size: 20px;
}

.serviciosTextos p {
    color: var(--dark-color);
    font-size: 16px;
}

@media (min-width: 768px) {
    .sectionContenido {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .serviciosContainer {
        gap: 20px;
        width: 670px;
    }

    .servicio {
        width: 325px;
        padding: 10px 5px;
        gap: 10px;
    }

    .servicio img {
        width: 80px;
    }

    .serviciosTextos {
        gap: 10px;
    }

    .serviciosTextos h3 {
        font-size: 20px;
    }

    .serviciosTextos p {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    .sectionContenido {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .serviciosContainer {
        gap: 80px 400px;
        width: 1050px;
    }

    .servicio {
        transition: transform 0.3s ease, filter 0.3s ease;
        width: 325px;
        padding: 40px 5px;
        gap: 10px;
    }

    .servicio img {
        position: absolute;
        width: 120px;
        opacity: 1;
        transition: 0.3s ease 0.1s;
    }

    .serviciosTextos {
        transition: 0.3s ease 0.1s;
        opacity: 0;
        gap: 10px;
    }

    .serviciosTextos h3 {
        font-size: 20px;
    }

    .serviciosTextos p {
        font-size: 16px;
    }

    .servicio:hover {
        transform: scale(0.95);
    }

    .servicio:hover img {
        opacity: 0;
    }

    .servicio:hover .serviciosTextos {
        opacity: 1;
    }

    .imgWeb {
        position: absolute;
        bottom: 0;
        width: 300px;
    }
}

@media (min-width: 1400px) {
    .sectionContenido {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .serviciosContainer {
        gap: 200px 600px;
        width: 1250px;
    }

    .servicio {
        transition: transform 0.3s ease, filter 0.3s ease;
        width: 325px;
        padding: 40px 5px;
        gap: 10px;
    }

    .servicio img {
        position: absolute;
        width: 120px;
        opacity: 1;
        transition: 0.3s ease 0.1s;
    }

    .serviciosTextos {
        transition: 0.3s ease 0.1s;
        opacity: 0;
        gap: 10px;
    }

    .serviciosTextos h3 {
        font-size: 20px;
    }

    .serviciosTextos p {
        font-size: 16px;
    }

    .servicio:hover {
        transform: scale(0.95);
    }

    .servicio:hover img {
        opacity: 0;
    }

    .servicio:hover .serviciosTextos {
        opacity: 1;
    }

    .imgWeb {
        position: absolute;
        bottom: 0;
        width: 400px;
    }
}
