.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: linear-gradient(to left, var(--orange-color) 0%, var(--dark-color) 100%);
    padding-top: 40px;
    padding-bottom: 60px;
    gap: 40px;
}

.sectionContainer header {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 305px;
    gap: 10px;
}

.sectionContainer header h1 {
    letter-spacing: 1.5px;
    color: var(--white-color);
    font-size: 42px;
}

.sectionContainer header h2 {
    color: var(--white-color);
    font-size: 24px;
}

.sectionContainer header p {
    color: var(--white-color);
    font-size: 16px;
}

.sectionContenido {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange-color-2);
    border-radius: 10px;
    padding: 25px 20px;
}

.sectionForm {
    width: 265px;
    margin: 0px 0;
}

@media (min-width: 768px) {
    .sectionContainer header {
        width: 535px;
    }

    .sectionContenido {
        flex-direction: row;
        align-items: start;
    }

    .sectionContenido img {
        width: 300px;
        margin-left: -30px;
        margin-right: -40px;
    }
}

@media (min-width: 1200px) {
    .sectionContainer {
        padding-top: 60px;
        padding-bottom: 80px;
        gap: 40px;
    }

    .sectionContainer header {
        width: 710px;
        gap: 10px;
    }

    .sectionContainer header h1 {
        font-size: 52px;
    }

    .sectionForm {
        width: 440px;
    }

    .sectionContenido img {
        width: 300px;
    }
}

@media (min-width: 1400px) {
    .sectionContainer header {
        width: 860px;
        gap: 10px;
    }

    .sectionContainer header h1 {
        font-size: 82px;
    }

    .sectionContainer header h2 {
        font-size: 28px;
    }

    .sectionContainer header p {
        font-size: 18px;
    }

    .sectionForm {
        width: 540px;
    }

    .sectionContenido img {
        width: 350px;
    }
}
