.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: linear-gradient(to bottom, transparent 0%, var(--dark-color) 500%);
    padding-bottom: 60px;
    gap: 20px;
}

.sectionContainer img {
    width: 100%;
    height: auto;
}

.sectionContainer header {
    width: 325px;
}

.sectionContainer header h2 {
    color: var(--orange-color-2);
    letter-spacing: 1.5px;
    font-size: 30px;
}

.sectionContenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.textoContenido {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: var(--dark-color);
    width: 325px;
    gap: 20px;
}

.sectionContenido h3 {
    font-size: 24px;
}

.sectionContenido p {
    font-size: 16px;
}

.mapContainer {
    width: 325px;
    height: auto;
}

@media (min-width: 1200px) {
    .sectionContainer {
        padding-bottom: 80px;
        gap: 40px;
    }

    .sectionContainer header {
        width: 750px;
    }

    .sectionContainer header h2 {
        font-size: 42px;
    }

    .sectionContenido {
        flex-direction: row;
        align-items: start;
        gap: 40px;
    }

    .textoContenido {
        width: 325px;
        gap: 20px;
    }

    .sectionContenido h3 {
        font-size: 24px;
    }

    .sectionContenido p {
        font-size: 16px;
    }

    .mapContainer {
        width: 380px;
        height: 249px;
    }
}

@media (min-width: 1400px) {
    .sectionContainer {
        padding-bottom: 100px;
        gap: 60px;
    }

    .sectionContainer header {
        width: 910px;
    }

    .sectionContainer header h2 {
        font-size: 52px;
    }

    .sectionContenido {
        gap: 40px;
    }

    .textoContenido {
        width: 400px;
        gap: 20px;
    }

    .sectionContenido h3 {
        font-size: 28px;
    }

    .sectionContenido p {
        font-size: 18px;
    }

    .mapContainer {
        width: 470px;
        height: 269px;
    }
}
