.footer {
    background-color: var(--dark-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
}

.footer img {
    user-select: none;
    pointer-events: none;
    height: 60px;
    margin-bottom: 10px;
}

.footer a {
    letter-spacing: 1px;
    user-select: none;
    text-decoration: none;
    color: var(--white-color);
    font-size: 16px;
}

.footer a:hover {
    color: var(--gray-color);
}
