.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to left, var(--dark-color-2) 0%, var(--dark-color) 100%);
    width: 100%;
    padding: 20px 25px;
    gap: 20px;
}

.contenido-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contenido-footer img {
    height: 110px;
}

.nav-footer ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
    list-style: none;
    gap: 10px 0px;
    width: 96px;
}

.nav-footer ul li a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 16px;
}

.utils-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.utils-footer p,
.utils-footer a {
    text-decoration: none;
    color: var(--gray-color);
    font-size: 14px;
}

.utils-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 325px;
}

@media (min-width: 576px) {
    .footer {
        padding: 28px 30px;
        gap: 40px;
    }

    .contenido-footer img {
        height: 60px;
    }

    .nav-footer ul {
        gap: 20px 0px;
        width: 226px;
    }

    .nav-footer ul li {
        width: 113px;
    }

    .utils-footer {
        flex-direction: row;
        justify-content: start;
        gap: 20px;
    }

    .utils-nav {
        width: 370px;
    }
}

@media (min-width: 768px) {
    .footer {
        padding: 20px 50px;
    }
}

@media (min-width: 1200px) {
    .footer {
        padding: 20px 100px;
    }

    .nav-footer ul {
        gap: 30px 100px;
        width: 326px;
    }

    .nav-footer ul li a:hover,
    .utils-footer a:hover {
        color: var(--orange-color);
    }
}

@media (min-width: 1400px) {
    .footer {
        padding: 23px 200px;
        gap: 30px;
    }

    .contenido-footer img {
        height: 70px;
    }

    .nav-footer ul {
        gap: 30px 200px;
        width: 426px;
    }
}
