.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-color);
    box-shadow: 0 4px 10px var(--shadow-color);
    width: 100%;
    z-index: 99;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-navbar {
    user-select: none;
    pointer-events: none;
    height: 60px;
    margin-top: 5px;
    margin-left: 20px;
}

/* --------------------------------- MENU HAMBURGESA*/

.burger-menu-container {
    display: flex;
    justify-content: end;
    position: absolute;
    z-index: 100;
    background-color: transparent;
    transition: background-color 1s ease;
    border-top-left-radius: 15px;
    top: 0;
    right: 0;
    width: 190px;
    height: 69px;
    padding-top: 12px;
    padding-right: 20px;
}

.burger-menu-container.open {
    background-color: var(--dark-color);
}

.burger-menu-icon {
    color: var(--white-color);
    cursor: pointer;
}

.mobile-nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    height: 100dvh;
    max-height: 100dvh;
    overflow-y: auto;
    overscroll-behavior: contain;
    background-color: var(--dark-color);
    box-shadow: -4px 0 10px var(--shadow-color);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    gap: 40px;
    padding-bottom: 20px;
    padding-top: 80px;
    width: 190px;
}

.mobile-nav-menu.open {
    transform: translateX(0);
}

.mobile-nav-menu .burger-menu-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 40px;
}

.mobile-nav-menu li {
    cursor: pointer;
    user-select: none;
    text-align: end;
    font-size: 20px;
    padding-right: 24px;
}

.submenu-trigger {
    all: unset;
    background: none;
    border: none;
    color: var(--white-color);
    cursor: pointer;
    width: 100%;
    text-align: right;
    font-size: 20px;
}

.submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease;
    background-color: var(--gray-color);
    width: 190px;
    margin-right: -24px;
}

.submenu-inner {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}

.submenu.open {
    max-height: 300px;
}

.submenu li {
    font-size: 16px;
}

.mobile-nav-menu img {
    width: 100px;
    margin-right: 24px;
}

/* --------- ESTILOS PARA LINKS*/

.menu-nav li a,
.burger-menu-nav li a {
    text-decoration: none;
    color: var(--white-color);
}

.submenu li a {
    color: var(--dark-color);
}

.menu-nav li a.active,
.burger-menu-nav li a.active {
    color: var(--orange-color);
}

@media (min-width: 576px) {
    .logo-navbar {
        margin-left: 30px;
    }

    /* --------------------------------- MENU HAMBURGESA*/

    .burger-menu-container {
        width: 220px;
        padding-right: 30px;
    }

    .mobile-nav-menu {
        width: 220px;
    }

    .mobile-nav-menu li {
        padding-right: 34px;
    }

    .submenu {
        width: 220px;
        margin-right: -34px;
    }
}

@media (min-width: 992px) {
    .navbar {
        padding: 0 100px;
    }

    .logo-navbar {
        margin-left: 0px;
        margin-top: 8px;
        margin-bottom: 2px;
    }

    .menu-nav {
        user-select: none;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        font-size: 18px;
    }

    .dropdown {
        position: relative;
    }

    .dropdown-trigger {
        cursor: pointer;
        color: var(--white-color);
    }

    .dropdown-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 120%;
        left: -20px;
        background: var(--dark-color);
        padding: 20px 0px;
        border-radius: 10px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
        transition: all 0.2s ease;
        gap: 20px;
    }

    .dropdown:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .dropdown-menu li {
        list-style: none;
        white-space: nowrap;
        font-size: 16px;
        padding: 0 20px;
    }

    /* --------- ESTILOS PARA LINKS*/

    .menu-nav li a:hover {
        filter: drop-shadow(0px 0px 0.1px var(--dark-color));
    }

    .menu-nav li a.active:hover {
        filter: none;
    }
}

@media (min-width: 1400px) {
    .navbar {
        padding: 0 200px;
    }

    .logo-navbar {
        height: 80px;
        margin-top: 10px;
        margin-bottom: 4px;
    }

    .menu-nav {
        gap: 50px;
        font-size: 20px;
    }

    .dropdown-menu {
        top: 150%;
        left: -30px;
    }

    .dropdown-menu li {
        font-size: 18px;
        padding: 0 30px;
    }
}
