:root {
    --dark-color: #363636;
    --dark-color-2: #2e2e2e;
    --dark-color-3: rgba(46, 46, 46, 0.9);
    --gray-color: #aca6a6;
    --white-color: #f3efea;
    --orange-color: #c77a4e;
    --orange-color-2: #ff6007;
    --shadow-color: rgba(0, 0, 0, 0.3);
    --shadow-color-2: rgba(0, 0, 0, 0.1);
}
