.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.sectionContainer header h2 {
    color: var(--orange-color);
    letter-spacing: 1.5px;
    font-size: 30px;
}

.serviciosContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--orange-color);
    border-radius: 10px;
    width: 325px;
    height: 100px;
    padding: 0 20px;
    gap: 10px;
}

.servicio h3 {
    color: var(--white-color);
    font-size: 20px;
}

.servicio p {
    color: var(--dark-color);
    font-size: 16px;
}

@media (min-width: 768px) {
    .sectionContainer {
        gap: 40px;
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .sectionContainer header h2 {
        font-size: 42px;
    }

    .serviciosContainer {
        flex-direction: row;
        gap: 20px;
    }

    .servicio {
        justify-content: start;
        width: 200px;
        height: 150px;
        padding: 20px 10px;
        gap: 10px;
    }

    .servicio h3 {
        font-size: 20px;
    }

    .servicio p {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    .sectionContainer {
        gap: 60px;
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .sectionContainer header h2 {
        font-size: 62px;
    }

    .serviciosContainer {
        gap: 20px;
    }

    .servicio {
        width: 250px;
        height: 170px;
        padding: 20px 10px;
        gap: 10px;
    }

    .servicio h3 {
        font-size: 24px;
    }

    .servicio p {
        font-size: 20px;
    }
}

@media (min-width: 1400px) {
    .sectionContainer {
        gap: 80px;
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .sectionContainer header h2 {
        font-size: 72px;
    }

    .serviciosContainer {
        gap: 20px;
    }

    .servicio {
        width: 300px;
        height: 190px;
        padding: 20px 10px;
        gap: 10px;
    }

    .servicio h3 {
        font-size: 28px;
    }

    .servicio p {
        font-size: 24px;
    }
}
