@import url('../src/styles/common/fuentes.css');
@import url('../src/styles/common/variables.css');
@import url('../src/styles/common/navbar.css');
@import url('../src/styles/common/cargando.css');
@import url('../src/styles/common/animaciones.css');
@import url('../src/styles/common/footer.css');
@import url('../src/styles/common/inputTel.css');
@import url('../src/styles/common/botones.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: var(--white-color);
}

html {
    scrollbar-gutter: stable;
}

.fondo-degradado {
    background: linear-gradient(to bottom, var(--shadow-color-2) 0%, transparent 10%, transparent 90%, var(--shadow-color-2) 100%);
}
