@import url('../src/styles/common/fuentes.css');
@import url('../src/styles/common/variables.css');
@import url('../src/styles/common/navbar.css');
@import url('../src/styles/common/cargando.css');
@import url('../src/styles/common/animaciones.css');
@import url('../src/styles/common/footer.css');
@import url('../src/styles/common/inputTel.css');
@import url('../src/styles/common/inputSelect.css');
@import url('../src/styles/common/botones.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: var(--white-color);
}

html {
    scrollbar-gutter: stable;
}

.fondo-degradado {
    background: linear-gradient(to bottom, var(--shadow-color-2) 0%, transparent 10%, transparent 90%, var(--shadow-color-2) 100%);
}

/* Hace que Chrome/Edge NO apliquen el fondo amarillo/blanco del autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px var(--white-color) inset !important;
    /* color del background en el input */
    box-shadow: 0 0 0px 1000px var(--white-color) inset !important;
    /* color del texto en el input */
    -webkit-text-fill-color: var(--dark-color) !important;
    /* color del | en el input */
    caret-color: var(--dark-color) !important;
    transition: background-color 9999s ease-in-out 0s !important;
}
