.sectionContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--dark-color);
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 120px;
}

.sectionContainer header h2 {
    color: var(--orange-color);
    letter-spacing: 1.5px;
    font-size: 32px;
    width: 280px;
}

.sectionContenido {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.sectionContenido img {
    width: 325px;
}

.sectionTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sectionTexto ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    color: var(--white-color);
    gap: 10px;
    width: 280px;
    font-size: 16px;
}

.textoHorarios {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 40px;
}

.textoHorarios h3 {
    color: var(--orange-color);
    padding-bottom: 10px;
    font-size: 20px;
}

.textoHorarios p {
    color: var(--white-color);
    font-size: 16px;
}

@media (min-width: 768px) {
    .sectionContainer {
        gap: 40px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .sectionContainer header h2 {
        font-size: 42px;
        width: 768px;
    }

    .sectionContenido {
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }

    .sectionContenido img {
        width: 325px;
    }

    .sectionTexto {
        align-items: start;
        gap: 40px;
    }

    .sectionTexto ul {
        gap: 20px;
        width: 360px;
        font-size: 18px;
    }

    .textoHorarios {
        position: relative;
        align-items: start;
        bottom: 0;
    }

    .textoHorarios h3 {
        padding-bottom: 10px;
        font-size: 26px;
    }

    .textoHorarios p {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    .sectionContainer {
        gap: 40px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .sectionContainer header h2 {
        font-size: 52px;
        width: 768px;
    }

    .sectionContenido {
        gap: 80px;
    }

    .sectionContenido img {
        width: 325px;
    }

    .sectionTexto {
        gap: 40px;
    }

    .sectionTexto ul {
        gap: 20px;
        width: 360px;
        font-size: 18px;
    }

    .textoHorarios {
        bottom: 0;
    }

    .textoHorarios h3 {
        padding-bottom: 10px;
        font-size: 26px;
    }

    .textoHorarios p {
        font-size: 18px;
    }
}

@media (min-width: 1400px) {
    .sectionContainer {
        gap: 60px;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .sectionContainer header h2 {
        font-size: 72px;
        width: 1000px;
    }

    .sectionContenido {
        gap: 80px;
    }

    .sectionContenido img {
        width: 400px;
    }

    .sectionTexto {
        gap: 80px;
    }

    .sectionTexto ul {
        gap: 20px;
        width: 450px;
        font-size: 26px;
    }

    .textoHorarios {
        bottom: 0;
    }

    .textoHorarios h3 {
        padding-bottom: 10px;
        font-size: 32px;
    }

    .textoHorarios p {
        font-size: 26px;
    }
}
