.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.sectionContainer header h2 {
    color: var(--orange-color);
    letter-spacing: 1.5px;
    font-size: 42px;
}

.serviciosContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 325px;
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--orange-color);
    color: var(--white-color);
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    width: 325px;
}

.servicio h3 {
    font-size: 22px;
}

.servicio p {
    font-size: 16px;
}

@media (min-width: 768px) {
    .sectionContainer {
        gap: 20px;
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .sectionContainer header h2 {
        font-size: 42px;
    }

    .serviciosContainer {
        gap: 40px;
        width: 690px;
    }

    .servicio {
        gap: 10px;
        padding: 10px;
        width: 325px;
    }

    .servicio h3 {
        font-size: 22px;
    }

    .servicio p {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    .sectionContainer {
        gap: 40px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .sectionContainer header h2 {
        font-size: 52px;
    }

    .serviciosContainer {
        gap: 40px;
        width: 840px;
    }

    .servicio {
        transition: transform 0.3s ease, filter 0.3s ease;
        gap: 10px;
        padding: 40px;
        width: 400px;
    }

    .servicio h3 {
        position: absolute;
        opacity: 1;
        transition: 0.3s ease 0.1s;
        font-size: 28px;
    }

    .servicio p {
        transition: 0.3s ease 0.1s;
        opacity: 0;
        font-size: 18px;
    }

    .servicio:hover {
        transform: scale(0.95);
    }

    .servicio:hover h3 {
        opacity: 0;
    }

    .servicio:hover p {
        opacity: 1;
    }
}

@media (min-width: 1400px) {
    .sectionContainer {
        gap: 40px;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .sectionContainer header h2 {
        font-size: 72px;
    }

    .serviciosContainer {
        gap: 60px 80px;
        width: 1300px;
    }

    .servicio {
        gap: 10px;
        padding: 40px;
        width: 600px;
    }

    .servicio h3 {
        font-size: 34px;
    }

    .servicio p {
        font-size: 22px;
    }
}
