.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--dark-color);
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 60px;
}

.sectionContainer header h2 {
    color: var(--orange-color);
    letter-spacing: 1.5px;
    font-size: 42px;
    width: 350px;
}

.sectionContenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.listasContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.listasContainer img {
    width: 325px;
}

.lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.lista h4 {
    color: var(--orange-color);
    font-size: 22px;
}

.lista ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: start;
    padding-left: 15px;
    width: 325px;
    gap: 10px;
}

.lista ul li {
    color: var(--white-color);
    font-size: 16px;
}

@media (min-width: 768px) {
    .sectionContainer {
        gap: 40px;
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .sectionContainer header h2 {
        font-size: 42px;
        width: 700px;
    }

    .sectionContenido {
        gap: 50px;
    }

    .listasContainer {
        flex-direction: row-reverse;
        gap: 40px;
    }

    .sectionContenido > .listasContainer:nth-child(even) {
        flex-direction: row;
    }

    .listasContainer img {
        width: 325px;
    }

    .lista {
        align-items: start;
        gap: 10px;
    }

    .lista h4 {
        font-size: 22px;
    }

    .lista ul {
        width: 325px;
        gap: 10px;
    }

    .lista ul li {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    .sectionContainer {
        gap: 60px;
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .sectionContainer header h2 {
        font-size: 52px;
        width: 1000px;
    }

    .sectionContenido {
        gap: 50px;
    }

    .listasContainer {
        flex-direction: row-reverse;
        gap: 40px;
    }

    .sectionContenido > .listasContainer:nth-child(even) {
        flex-direction: row;
    }

    .listasContainer img {
        width: 325px;
    }

    .lista {
        align-items: start;
        gap: 10px;
    }

    .lista h4 {
        font-size: 26px;
    }

    .lista ul {
        width: 325px;
        gap: 10px;
    }

    .lista ul li {
        font-size: 18px;
    }
}

@media (min-width: 1400px) {
    .sectionContainer {
        gap: 80px;
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .sectionContainer header h2 {
        font-size: 52px;
        width: 1000px;
    }

    .sectionContenido {
        gap: 50px;
    }

    .listasContainer {
        flex-direction: row-reverse;
        gap: 50px;
    }

    .sectionContenido > .listasContainer:nth-child(even) {
        flex-direction: row;
    }

    .listasContainer img {
        width: 400px;
    }

    .lista {
        align-items: start;
        gap: 20px;
    }

    .lista h4 {
        font-size: 32px;
    }

    .lista ul {
        width: 400px;
        gap: 20px;
    }

    .lista ul li {
        font-size: 22px;
    }
}
