.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--orange-color);
    border-radius: 10px;
    gap: 10px;
    padding: 20px 10px;
    width: 325px;
}

.servicio h3 {
    color: var(--white-color);
    font-size: 22px;
}

.servicio p {
    color: var(--dark0-color);
    font-size: 16px;
}

@media (min-width: 1200px) {
    .sectionContainer {
        flex-direction: row;
        gap: 20px;
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .servicio {
        gap: 20px;
        padding: 40px 10px;
        width: 350px;
    }

    .servicio h3 {
        font-size: 26px;
    }

    .servicio p {
        font-size: 18px;
    }
}

@media (min-width: 1400px) {
    .sectionContainer {
        gap: 40px;
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .servicio {
        gap: 20px;
        padding: 60px 30px;
        width: 350px;
    }

    .servicio h3 {
        font-size: 26px;
    }

    .servicio p {
        font-size: 20px;
    }
}
